<!doctype html>

<html lang="fr">

<head>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="..\..\..\frontend\css\style.css" />
  <link rel="stylesheet" href="..\..\..\frontend\css\carousel.css" />



  <link rel="preconnect" href="https://fonts.gstatic.com">
  <script src="https://kit.fontawesome.com/e0b5da58c3.js" crossorigin="anonymous"></script>
  <script src="../../js/application.js" defer></script>
  <script src="product.js" defer></script>
  <script src="../cart/cart.js" defer></script>
  <title>Orinoco - ours en peluche</title>
</head>

<body data-spy="scroll" data-target="#navbarResponsive">

  <!-- Header -->
  <div class="row" id="productPage">
    <!-- Navigation -->
    <nav class="col navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="..\home\index.html">
        <img src="..\..\..\frontend\images\logoOrinocoCadreBlc.png" alt="Site logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarResponsive" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#contact">Contact</i></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="../home/index.html"><i class="fas fa-heart"></i></a>
          </li>
          <li class="nav-item active cartNumber">
            <a class="nav-link" href="../cart/cart.html"><i class="fas fa-shopping-bag"></i><span class="showNumberOfProductInCart">0</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container productImg">


    </div>

  </div>



  <!-- Slider Products -->
  <div id="products" class="container">

    <!-- Heading -->
    <div class="row">
      <div class="col-12">
        <h2 class="heading text-center">Voir d'autres oursons</h2>
        <h3 class="heading text-center">Nous vous recommandons</h3>
        <div class="heading-underline"></div>
      </div>
    </div>

    <!-- Slider -->
    <div class="top-content mb-5">
      <div class="container-fluid">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="900000">
          <div class="carousel-inner row w-100 mx-auto" role="listbox">
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2 active">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours1_220x270.jpg" class="img-fluid d-block" alt="ours 1">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Ours en peluche</h5>
                  <p class="card-text text-center">24,90 €</p>
                </div>
              </a>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours2_220x270.jpg" class="img-fluid d-block" alt="ours 2">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Ours blanc</h5>
                  <p class="card-text text-center">29,90 €</p>
                </div>
              </a>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours3_220x270.jpg" class="img-fluid d-block" alt="ours 3">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Nounours miel</h5>
                  <p class="card-text text-center">22,79 €</p>
                </div>
              </a>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours4_220x270.jpg" class="img-fluid d-block" alt="ours 4">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Ourson assis</h5>
                  <p class="card-text text-center">36,50 €</p>
                </div>
              </a>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours5_220x270.jpg" class="img-fluid d-block" alt="ours 5">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Ours rose cendré</h5>
                  <p class="card-text text-center">49,90 €</p>
                </div>
              </a>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours6_220x270.jpg" class="img-fluid d-block" alt="ours 6">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Ourson gris</h5>
                  <p class="card-text text-center">49,90 €</p>
                </div>
              </a>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours7_220x270.jpg" class="img-fluid d-block" alt="ours 7">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Ours Sam</h5>
                  <p class="card-text text-center">29,59 €</p>
                </div>
              </a>
            </div>
            <div class="carousel-item col-12 col-sm-6 col-md-4 col-lg-2">
              <a class="productsLink" href="#">
                <img src="..\..\images\products\ours8_220x270.jpg" class="img-fluid d-block" alt="ours 8">
                <div class="card-body bg-white">
                  <h5 class="card-title text-center">Prosper Ours polaire</h5>
                  <p class="card-text text-center">55 €</p>
                </div>
              </a>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted"></i>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

  </div>

  <!-- Footer -->
  <div id="contact">

    <footer>
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="..\..\..\frontend\images\logoOrinocoCadreNoir.png" alt="Site logo"><br>
          <strong>Contact</strong><br>
          <p>(+33) 00 00 00 00 00 <strong>&middot;</strong> hello@orinoco.com</p>

          <ul class="list-inline text-center">
            <li class="list-inline-item"><a href="#">À propos</a></li>
            <li class="list-inline-item">&middot;</li>
            <li class="list-inline-item"><a href="#">Vie privée</a></li>
            <li class="list-inline-item">&middot;</li>
            <li class="list-inline-item"><a href="#">Conditions d'utilisations</a></li>
          </ul>

          <a href="#" target="_blank"><i class="fab fa-facebook-square"></i></a>
          <a href="#" target="_blank"><i class="fab fa-twitter-square"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a>

        </div>

        <hr class="socket">
        &copy; 2021
      </div>
    </footer>

  </div>




  <!-- Optional JavaScript -->

  

  <!-- <script src="views\showTeddies.js"></script> -->


  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="..\..\js\carousel.js"></script>

</body>

</html>